.banner_img {
    filter: brightness(50%);
    height: 600px !important;
}

.register-part {
    height: 300px;
    background: #289BDE;
    border-radius: 5px;
}

.coures-btn .see_btn {
    display: inline-block;
}

.coures-btn .view_btn {
    display: none;
}

.footer_link a {
    text-decoration: none;
    color: #fff;
    margin: 10px 10px;
}

.social-icon a {
    background-color: rgb(127, 130, 130);
    font-size: 25px;
    border-radius: 10%;
    margin-right: 10px;
}

.social-icon i {
    font-size: 20px;
    padding: 10px;
    color: rgb(231, 238, 235);
}

@media (max-width: 992px) {
    .coures-btn .see_btn {
        display: none;
    }

    .coures-btn .view_btn {
        display: inline-block;
    }

    .register-title {
        text-align: center;
    }
}